header {
    height: 100px;
    background: #333545;
}

#NameOfCompany {
    font-size: x-large;
    color: white;
}

#secondary-nav {
    background: #1f2533;
    color: white;
}

#primary-nav {
    background: #333545;
    color: white;
}

#slider {
    margin-top: 30px;
    width: auto;
    height: 320px;
    overflow: hidden;
}

.page-wrapper,
.content-wrapper {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    margin: 10px auto;
    padding: 25px;
}

.head-content-container {
    display: inline-block;
}

.head-title {
    display: inline-block;
    margin: auto;
}

.head-body {
    display: inline-block;
    margin-block: 10px;
}