footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: slategray;
    width: auto;
    bottom: 0px;
}

h1.page-title {
    text-align: center;
}

.form-custom label {
    font-size: 16px;
}

.form-custom div {
    padding: 5px 0 10px 0;
}