footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: slategray;
    width: auto;
    bottom: 0px;
}

h1.page-title {
    text-align: center;
}

.main-menu {
    background: #ede2e2;
    padding: 10px;
    align-items: center;
}

.main-menu a {
    margin: 0 60px 0 60px;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    font-weight: 900;
}

.form-custom label {
    font-size: 16px;
}

.form-custom div {
    padding: 5px 0 10px 0;
}