footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: slategray;
    width: auto;
    bottom: 0px;
}


/*index.html css*/

h1.page-title {
    text-align: center;
}

.main-menu {
    background: #ede2e2;
    padding: 10px;
    align-items: center;
}

.main-menu a {
    margin: 0 60px 0 60px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    font-weight: 900;
}

.text-slider {
    padding: 0 0 100px 0;
}

.form-custom label {
    font-size: 16px;
}

.form-custom div {
    padding: 5px 0 10px 0;
}

.form-custom .button input {
    border: 1px solid #ddd;
    padding: 10px;
    background: #ddd;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}

.form-custom div input,
select {
    padding: 5px;
}

table {
    width: 100%;
    text-align: CENTER;
    margin-bottom: 20px;
}

table.table input {
    margin-bottom: 50px;
}

.div-right {
    width: 50%;
    float: left;
    padding-bottom: 30px;
    text-align: left;
}

.div-left {
    text-align: left;
    width: 50%;
    float: left;
}

.moviePoster {
    width: 100px;
    height: 200px;
}